@model FundsLibrary.InterviewTest.Web.Models.UserModel

@{
    ViewBag.Title = "ConfirmRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration Completed</h2>
<br/>
<h4>Your Registered Details</h4>
<div class="fund-manager-details">
    <h5>Username: @Html.DisplayFor(model => model.Username)</h5>
    <h5>Email Address: @Html.DisplayFor(model => model.EmailAddress)</h5>
    <h5>Role: @Html.DisplayFor(model => model.Role)</h5>
</div>
